
<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>The bookings of your bikes:</h1>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <% cont = 0 %>
      <% @bookings.each do |booking| %>

          <% cont += 1 %>
          <ul>
            <li>Your bike: <strong><%= booking.bike.description %></strong></li>
            <li>Renting to: <strong><%=  booking.customer.email %></strong></li>
            <li>The renter will come for it on: <strong><%= booking.date_begin %></strong></li>
            <li>It'll have to returned your bike by <strong><%= booking.date_end %></strong></li>
            <li>The total amount you are earning is: <strong><%= booking.total_price %></strong> euros</li>
            <% if booking.validated == true %>
              <li>Status: <strong>Validated</strong></li>
            <% else %>
              <li>Status: <strong>Waiting for your validation</strong></li>
            <% end %>
            <!-- below rp tryong to validate booking -->
            <%= link_to "Validate this booking", flop_booking_path(booking)%>
             <!-- <a id="validate_booking" class="btn btn-success"> Validate this booking</a> -->
          </ul>

      <% end %>
      <% if cont == 0 %>
        <p class="text-center"> For the moment you don't have bookings for your bikes </p>
      <% end %>
      <%= link_to "Back to Profile",  user_path(current_user), class: "btn btn-primary"%>
    </div>
  </div>
</div>


<!-- //   $(document).on('ready', function() {
//     $(#validate_booking).click( function() {

//     });
//   })
 -->
