
<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>All your upcoming bookings</h1>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <% @bookings.each do |booking| %>
        <ul class="clean-list list-unstyled">
          <li><div class="title">The bike you're renting: </div><div class="content"><strong><%= booking.bike.description %></strong></div></li>
          <li><div class="title">It belongs to : </div><div class="content"><strong><%=  booking.bike.owner.email %></strong></div></li>
          <li><div class="title">You'll get it by </div><div class="content"><strong><%= booking.date_begin %></strong></div></li>
          <li><div class="title">It'll have to be returned by </div><div class="content"><strong><%= booking.date_end %></strong></div></li>
          <li><div class="title">The total amount is: </div><div class="content"><strong><%= booking.total_price %></strong> euros</div></li>
        </ul>
      <% end %>
      <%= link_to "Back to Profile",  user_path(current_user), class: "btn btn-primary"%>
    </div>
  </div>
</div>
