<h1 class="text-center">Create a new bike</h1>

<hr>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 text-center">
      <%= simple_form_for @bike do |f| %>
        <%= f.input :bike_category %>
        <%= f.input :description %>
        <%= f.input :price_per_day %>
        <%= f.input :city %>
        <%= f.input :picture %>
        <%= f.button :submit, class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>

<!-- <%# if @bike.errors.any? %>
  <div id="error_explanation">
    <ul>
    <%# @bike.errors.full_messages.each do |message| %>
      <li><%#= message %></li>
    <%# end %>
    </ul>
  </div>
<%# end %>
 -->
