<h1>Bookings#show</h1>
<p>Find me in app/views/bookings/show.html.erb</p>

<ul class="list-unstyled">
  <li><%= @booking.date_begin %></li>
  <li><%= @booking.date_end %></li>
  <li><%= @booking.total_price %></li>
  <li><%= @bike.description %></li>
  <li><%= @user.first_name %></li>
</ul>


date_begin: "2015-08-26", date_end: "2015-08-26", total_price: 300, bike_id: 23, user_id: 1
