<div class="container">
  <div class="row text-center">
    <h2>Hi <strong><%= current_user.first_name %></strong>!</h2>
    <h3>Here's your booking's details</h3>
  </div>
</div>
<hr>

<div class="container">
  <div class="row text-center">
    <ul class="clean-list list-unstyled">
      <li><div class="title"><strong>Rental starts on : <strong></div><div class="content"><%= @booking.date_begin %></strong></div></li>
      <li><div class="title"><strong>Rental ends on : <strong></div><div class="content"><%= @booking.date_end %></strong></div></li>
      <li><div class="title"><strong>Total price for your rental : <strong></div><div class="content"><%= @booking.total_price %> €</strong></div></li>
      <li><div class="title"><strong>Bike's details : <strong></div><div class="content"><%= @bike.description %></strong></div></li>
      <li><div class="title"><strong>Owner's first name : <strong></div><div class="content"><%= @user.first_name %></strong></div></li>
    </ul>
    <p>Your booking needs now to be validated by the owner (You'll receive a confirmation mail)</p>
    <%= link_to "Back to Profile",  user_path(current_user), class: "btn btn-primary"%>
  </div>
</div>

div.
