

<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
      <h1>My profile</h1>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
      <%= image_tag current_user.picture.url(:small) %>
      <ul class="clean-list list-unstyled">
        <li><div class="title"><strong>First name: </strong> </div><div class="content"><%= @user.first_name %></div></li>
        <li><div class="title"><strong>Last name: </strong></div><div class="content"><%= @user.last_name %></div></li>
        <li><div class="title"><strong>Email: </strong></div><div class="content"><%= @user.email %></div></li>
        <li><div class="title"><strong>Phone number: </strong></div><div class="content"><%= @user.phone_number %></div></li>
        <li><div class="title"><strong>Birth date: </strong></div><div class="content"><%= @user.date_birth %></div></li>
        <li><div class="title"><strong>Driver's licence date of issue: </strong></div><div class="content"><%= @user.date_driver_licence %></div></li>
        <li><div class="title"><strong>Bio: </strong></div><div class="content"><%= @user.bio %></div></li>
      </ul>

    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
      <%= link_to "Edit profile", edit_user_registration_path(@user), class: "btn btn-primary"%>
      <hr>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">

      <!-- = link_to "Bikes I booked", user_bookings_path(@user), class: "btn btn-primary" -->
      <%= link_to "My bookings", renter_index_account_bookings_path, class: "btn btn-primary"%>
      <%= link_to "My bikes' bookings", owner_index_account_bookings_path, class: "btn btn-primary"%>

    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
        <h2>My Bikes</h2>
        <% current_user.bikes.each do |bike| %>
        <div class="row padded-bike">

            <div class="col-sm-6">
              <%= link_to account_bike_path(bike) do%>
                <%= image_tag bike.picture.url(:medium) %>
              <% end %>
            </div>
            <div class="col-sm-6">
              <ul class="list-unstyled">
                <li><%= bike.bike_category %></li>
                <li><%= bike.description %></li>
              </ul>
            </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
