

<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
      <h1>My profile</h1>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= image_tag current_user.picture.url(:small) %>
      <ul class="list-unstyled">
        <li><strong>First name: </strong> <%= @user.first_name %></li>
        <li><strong>Last name: </strong><%= @user.last_name %></li>
        <li><strong>Email: </strong><%= @user.email %></li>
        <li><strong>Phone number: </strong><%= @user.phone_number %></li>
        <li><strong>Birth date: </strong><%= @user.date_birth %></li>
        <li><strong>Driver's licence date of issue: </strong><%= @user.date_driver_licence %></li>
        <li><strong>Bio: </strong><%= @user.bio %></li>
      </ul>

    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
      <%= link_to "Edit profile", edit_user_registration_path(@user), class: "btn btn-primary"%>
      <hr>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">

      <!-- = link_to "Bikes I booked", user_bookings_path(@user), class: "btn btn-primary" -->
      <%= link_to "My bookings",   account_bookings_path, class: "btn btn-primary"%>
      <%= link_to "My bikes' bookings", '#', class: "btn btn-primary"%>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
        <h2>My Bikes</h2>
        <% current_user.bikes.each do |bike| %>
        <div class="row">

            <div class="col-sm-6">
              <%= link_to account_bike_path(bike) do%>
                <%= image_tag bike.picture.url(:medium) %>
              <% end %>
            </div>
            <div class="col-sm-6">
              <ul class="list-unstyled">
                <li><%= bike.bike_category %></li>
                <li><%= bike.description %></li>
              </ul>
            </div>
        </div>
        <% end %>
      </div>
    </div>

<hr>
<hr>
<hr>
<hr>
<hr>


  </div>
</div>
