

<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h1>Your profile</h1>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6" style="border-style: solid; border-width: 2px">
      <%= image_tag "http://placehold.it/300x450" %>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6" style="border-style: solid; border-width: 2px">
      <div class="text-center">
        <p><%= @user.first_name %></p>
        <p><%= @user.last_name %></p>
        <p><%= @user.email %></p>
        <p><%= @user.phone_number %></p>
        <p><%= @user.date_birth %></p>
        <p><%= @user.date_driver_licence %>licence</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6" style="border-style: solid; border-width: 2px">

      <%= link_to "Edit profile", edit_user_registration_path(@user), class: "btn btn-primary"%>
    </div>

  </div>
</div>
