<nav class="navbar-wagon">
  <div class="container navbar-wagon-container">

    <%= link_to root_path do %>
      <%= image_tag "logo.jpg", width:"60" %>
    <% end  %>

    <%= link_to t(".top_call_to_action", default: "Sign In"), "#", class: "navbar-wagon-item rafa" %>
    <%= link_to t(".top_call_to_action", default: "Sign Up"), "#", class: "navbar-wagon-item rafa" %>
    <%= link_to t(".top_call_to_action", default: "Add my bike"), "#", class: "navbar-wagon-item navbar-wagon-button btn rafa" %>
  </div>
</nav>
