<div class="container" style="padding:30px">
  <div class="row">
    <h1 class="text-center">So you're looking for a bike?</h1>
  </div>
</div>

<div class="container" style="padding:10px">
  <div class="row text-center">
    <form action="" method="get" class="form-inline">
      <input type="text" class="form-control" placeholder="Find bikes in..." name="city" style="width=50%">
      <%#= link_to "SEARCH A BIKE!", bikes_path , class: "btn btn-primary" %>
      <input class="btn btn-success" type="submit" value="Vroom" >
    </form>
  </div>
</div>
<hr>

  <% @bikes.each do |bike| %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="bikecard">
      <div class="flex-container">

        <div class="flex-bike-description text-center">
          <p><%= link_to bike_path(bike) do %>
              <h4><%= bike.description %></h4>
            <% end %>
          </p>
        </div>
        <div class="flex-image" style="background-image: url(<%= bike.picture(:thumb) %>)">
          <span>

          </span>
        </div>

        <div class="flex-bike-details">
          <p>
            Category: <%= bike.bike_category %>
          </p>
          <p>
            Price/day: <%= bike.price_per_day %>
          </p>
          <p>
            Location: <%= bike.city %>
          </p>
          </div>
      </div>

    </div>
</div>
  <% end %>


<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({
      provider: {
        draggable: false,
        Zoom: 10
      },
      internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>
