<div class="container">
  <div class="row">
    <% @bikes.each do |bike| %>
      <div class="col-xs-12 col-sm-4">
        <%= bike.description %>
        <%= link_to "Bike Details", bike_path(bike) %>
      </div>
    <% end %>
  </div>
</div>


<h1>Bike's details</h1>

<div class="container">
  <div class="row">
  <% @bikes.each do |bike| %>
    <div class="col-xs-3">
      <div class="bike-card text-center">
        <p><%= bike.description %></p>
        <p>Category: <%= bike.bike_category %></p>
        <p>Price/day: <%= bike.price_per_day %></p>
        <p>Location: <%= bike.city %></p>
      </div>
    </div>
  <% end %>
  </div>
</div>
