

<div class="container">

  <div class="row text-center">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h1>Bike's details</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 Aligner" style="height:479px">
      <div class="Aligner-item">
          <%= image_tag @bike.picture.url(:large),style:"width:100%" %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="text-center">
      <div>
        <ul class="clean-list list-unstyled">
          <li><div class="text-center"><strong><h3><%= @bike.description %></strong></h3></div></li>
          <li></li>
          <li><div class="title"><strong>Category: </strong></div><div class="content"><%= @bike.bike_category %></div></li>
          <li><div class="title"><strong>Price/day:  </strong> </div><div class="content"><%= @bike.price_per_day %> €</div></li>
          <li><div class="title"><strong>Location:  </strong> </div><div class="content"><%= @bike.city %></div></li>
        </ul>
      </div>

        <% if @bike.owner != current_user %>
          <p><%= link_to "Book this bike", new_bike_booking_path(@bike), class: "btn btn-success" %></p>
        <% end %>
        <div id="map" style="width: 100%; height: 300px;"></div>
      </div>
    </div>

  </div>
    <div class="row">
    <div id="map" style="width: 50%; height: 300px;"></div>

    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $(document).on('ready', function() {
          handler = Gmaps.build('Google');
          handler.buildMap({internal: { id: 'map' } }, function(){
            markers = handler.addMarkers(<%= raw @markers.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
          });
        })
      <% end %>
    <% end %>
  </div>
</div>

<!-- handler.getMap().setZoom(8); -->
