

<div class="container">

  <div class="row text-center">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h1>Bike's details</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
      <%= image_tag @bike.picture.url(:large) %>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="text-center">
        <p><%= @bike.description %></p>
        <p>Category: <%= @bike.bike_category %></p>
        <p>Price/day: <%= @bike.price_per_day %></p>
        <p>Location: <%= @bike.city %></p>
      </div>
    </div>

  </div>
</div>
